#b1 {
    background-color: hsl(var(--color-neutral-85));
    background-color: hsl(var(--color-neutral-85) / 0.5);
    border: none;
}

#table-left {
    background-color: hsl(var(--color-pink-100));
    background-color: hsl(var(--color-pink-100) / 0.5);
    border-radius: var(--border-radius-medium);
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    color: hsl(var(--color-neutral-100));
}

.login-with-google {
    background-color: hsl(var(--color-neutral-0));
    color: hsl(var(--color-neutral-100));
    border: 1px solid hsl(var(--color-information-100));
}

.login-with-google:hover {
    background-color: hsl(var(--color-neutral-5));
}

.login-page-div {
    background-color: hsl(var(--color-neutral-0));
}

.disclaimer-login-page {
    font-style: italic;
    color: hsl(var(--color-neutral-60));
}

.logout-button {
    color: hsl(var(--color-neutral-0));
}

/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.intro,
.login {
    flex: 1;
    padding: 50px;
}

.intro {
    border-right: 1px solid #ddd;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #357AE8;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
} */